@font-face {
    font-family: "Rustico";
    src: url("/fonts/Rustico/rustico_regular.ttf");
}

.navBarTitle {
    -fx-padding: 0 0 0 15;
    -fx-font-size: 18;
    -fx-font-family: Rustico;
    -fx-text-fill: #001f3f;
    -fx-pref-height: 60px;
}

.navBarContainer {
    -fx-background-color: #80a7ea;
}

.navBarSignUpBtn {
    -fx-text-fill: #6838ff;
    -fx-background-color: #80a7ea;
    -fx-font-size: 15;
}

.navBarSignUpBtn :hover{
    -fx-scale-y: 1.05 !important;
    -fx-scale-x: 1.05 !important;
}

.navBarSignInBtn {
    -fx-text-fill: #6838ff;
    -fx-background-color: #80a7ea;
    -fx-font-size: 15;
}
.navBarSignInBtn :hover{
    -fx-scale-y: 1.05 !important;
    -fx-scale-x: 1.05 !important;
}

.navBarButtons {
    -fx-text-fill: #001f3f;
    -fx-background-color: #80a7ea;
    -fx-font-size: 15;
}

.navBarButtons:hover {
    -fx-scale-y: 1.05 !important;
    -fx-scale-x: 1.05 !important;
}

.navBarAccountBtn {

    -fx-background-position: center;
    -fx-background-image: url("/images/account_icon.png");
    -fx-background-size: 50px 50px;
    -fx-background-color: #80a7ea;
}

.navBarAccountBtn:hover {

    -fx-scale-y: 1.05 !important;
    -fx-scale-x: 1.05 !important;
}

.navBarLeftContainer {
    -fx-padding: 15 0 0 0;
}

.navBarRightContainer {
    -fx-padding: 20 0 0 0;
}

.navBarAccountLabel {
    -fx-padding: 17 0 0 10;
    -fx-font-size: 15;
}

.wholePageContainer {
    -fx-background-color: #eff3f8;
}


.backButton {
    -fx-background-position: center;
    /*-fx-background-image: url("/images/back.jpg");*/
    -fx-background-size: 40px 28px;
    -fx-background-color: #eff3f8;
}

.backButton:hover {
    -fx-scale-y: 1.05 !important;
    -fx-scale-x: 1.05 !important;
    -fx-background-color: #c3c7cc !important;
}


/*//////*/


.mainPageProductCards {
    -fx-padding: 20 20 0 20;
    -fx-border-color: #bfaecd;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, #D0D0D0, 10, 0, 0, 0);
    -fx-text-alignment: CENTER;
    -fx-border-insets: 6px;
    -fx-pref-width: 260px;
    -fx-pref-height: 150px;

}

.mainPageProductCardsTitle {
    -fx-padding: 10 10 10 18;
    -fx-text-alignment: center;
}

.mainPageProductCardsDetail {
    -fx-padding: 30 0 100 0;
    -fx-text-alignment: center;
}

.viewProductBtn {
    -fx-background-color: #5ebdff;
    -fx-label-padding: 2 2 2 2;
}

.viewProductBtn:hover {
    -fx-scale-y: 1.05 !important;
    -fx-scale-x: 1.05 !important;
}

.viewProductBtnBox {
    -fx-padding: 7 0 10 18;
}

.viewOffBtn {
    -fx-background-color: #5ebdff;
    -fx-label-padding: 3 3 3 3;
}

.viewOffBtn:hover {
    -fx-scale-y: 1.05 !important;
    -fx-scale-x: 1.05 !important;
}

.offDetailsCard {
    -fx-padding: 10 0 20 0;
}

.labelBox {
    -fx-padding: 10 10 10 10;
    /*-fx-border-color: #858585;*/
    /*-fx-border-style: solid;*/
    /*-fx-border-width: 1px;*/
    /*-fx-border-radius: 5px;*/
    -fx-effect: dropshadow(three-pass-box, #D0D0D0, 10, 0, 0, 0);
    -fx-text-alignment: CENTER;
    /*-fx-border-insets: 6px;*/
    -fx-min-width: 100px;
}

.offBox {
    -fx-padding: 10 10 10 10;
    -fx-border-color: #858585;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    /*-fx-border-radius: 5px;*/
    -fx-effect: dropshadow(three-pass-box, #D0D0D0, 10, 0, 0, 0);
    -fx-text-alignment: CENTER;
    -fx-border-insets: 6px;
    -fx-min-width: 350px;
}

.offLabels1 {
    -fx-text-fill: #6772bd;
}

.walletBtn {
    /*-fx-background-position: center;*/
    -fx-background-image: url("/images/wallet_icon.png");
    -fx-background-color: #80a7ea;
    /*-fx-background-size: 30px;*/
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-size: 55px;
    /*-fx-background-size: 50px 50px;*/
    /*-fx-background-color: #80a7ea;*/
    /*-fx-opacity: 0.55;*/
}

.walletBtn:hover {
    -fx-scale-y: 1.1 !important;
    -fx-scale-x: 1.1 !important;
}