
@font-face {
    font-family: "Rustico";
    src: url("/fonts/Rustico/rustico_regular.ttf");
}

.navBarTitle {
    -fx-padding: 0 0 0 15;
    -fx-font-size: 18;
    -fx-font-family: Rustico;
    -fx-text-fill: #001f3f;
    -fx-pref-height: 160px;
}

.navBarContainer {
    -fx-background-color: #80a7ea;
}

.navBarSignUpBtn {
    -fx-text-fill: #6838ff;
    -fx-background-color: #80a7ea;
    -fx-font-size: 15;
}

.navBarSignUpBtn :hover{
    -fx-scale-y: 1.05 !important;
    -fx-scale-x: 1.05 !important;
}

.navBarSignInBtn {
    -fx-text-fill: #6838ff;
    -fx-background-color: #80a7ea;
    -fx-font-size: 15;
}
.navBarSignInBtn :hover{
    -fx-scale-y: 1.05 !important;
    -fx-scale-x: 1.05 !important;
}

.navBarButtons {
    -fx-text-fill: #001f3f;
    -fx-background-color: #80a7ea;
    -fx-font-size: 15;
}

.navBarButtons:hover {
    -fx-scale-y: 1.05 !important;
    -fx-scale-x: 1.05 !important;
}

.navBarAccountBtn {

    -fx-background-position: center;
    -fx-background-image: url("/images/account_icon.png");
    -fx-background-size: 50px 50px;
    -fx-background-color: #80a7ea;
}

.navBarAccountBtn:hover {

    -fx-scale-y: 1.05 !important;
    -fx-scale-x: 1.05 !important;
}

.navBarLeftContainer {
    -fx-padding: 35 0 0 0;
}

.navBarRightContainer {
    -fx-padding: 35 0 0 0;
}

.navBarAccountLabel {
    -fx-padding: 30 0 0 10;
    -fx-font-size: 15;
}

.wholePageContainer {
    -fx-background-color: #eff3f8;
}

.welcomeText {
    -fx-font-size: 30;
}
